.reviews {
	// .reviews__title
	&__title {
		margin: 0 0 6.2rem 0;
		justify-content: center;
		@include flex-align-center;
	}
}

.reviews-content {
	// .reviews-content__body
	&__body {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1.5rem;

		@include _690 {
			grid-template-columns: 1fr 1fr;
			grid-row: 1fr 1fr;
		}
		@include _425 {
			grid-template-columns: 1fr;
		}
	}

	// .reviews-content__card
	&__card {
		border: 1px solid rgb(166, 166, 166);
		border-radius: 7.09px;
		overflow: hidden;
	}
}
