.product-card {
	// .product-card__body
	&__body {
		border: 1px solid $color;
		border-radius: 10px;
		padding: 2.5rem 4.5rem;
	}

	// .product-card__content
	&__content {
		display: grid;
		column-gap: 13rem;
		grid-template-columns: 1fr min-content;
		margin-bottom: 7rem;
	}

	// .product-card__header
	&__header {
		justify-content: space-between;
		@include flex-align-center;
		&:nth-child(1) {
			grid-column: 1 / 3;
		}
	}

	// .product-card__title
	&__title {
		font-weight: 700;
		font-size: 2.5rem;
		margin-bottom: 2.5rem;

		@include _425 {
			font-size: 2.3rem;
		}
	}

	// .product-card__button-close
	&__button-close {
		font-size: 18px;
	}

	// .product-card__column
	&__column {
		overflow: hidden;
		&:nth-child(1) {
			flex: 0 1 42%;
		}
	}

	// .product-card__description
	&__description {
		display: grid;
		column-gap: 13rem;
		grid-template-columns: 1fr 30rem;
		margin-bottom: 3rem;
	}

	// .product-card__services
	&__services {
		display: flex;
		justify-content: space-between;
		margin-bottom: 7.1rem;
	}
}

.product-slide {
	// .product-slide__slide
	&__slide {
		width: 305px;
		border: 1px solid #af1010;
		overflow: hidden;
		img {
			max-width: 100%;
		}
	}

	// .product-slide__card
	&__card {
		&.swiper-slide {
			img {
				width: 305px;
				transition: all 1.5s ease-in-out;
				opacity: 0.1;
			}
		}
		&.swiper-slide-active {
			img {
				opacity: 1;
			}
		}

		img {
			max-height: 100%;
		}
	}
}
// -----------------------------------------------------------------------------
.thumb-slide {
	// .thumb-slide__card
	&__card {
		width: 60px !important;
		height: auto;
		object-fit: cover;
		@include flex-align-center-justify-center;
		img {
			width: 50px;
		}
		&.swiper-slide-thumb-active {
			img {
				opacity: 1;
			}
		}
	}
}
// -----------------------------------------------------------------------------
.description-product {
	//.description-product__title
	&__title {
		font-weight: 700;
		margin-bottom: 1rem;
	}

	//.description-product__text
	&__text {
		p {
			line-height: 150%;
			margin-bottom: 0.5rem;
			font-size: 1.4rem;
		}
	}
}
// -----------------------------------------------------------------------------
.services-product {
	// .services-product__column
	&__column {
		flex: 0 0 301px;
	}

	// .services-product__title
	&__title {
		font-weight: 700;
		margin-bottom: 0.5rem;
	}

	// .services-product__text
	&__text {
		line-height: 150%;
	}
}

// -----------------------------------------------------------------------------
.video-box {
	// .video-box__item
	&__item {
		position: relative;
		width: 100%;
		height: 100%;

		video {
			// object-position: 100% 100%;
			// position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			// z-index: -1;
		}
	}
}
// -----------------------------------------------------------------------------

.assortment {
	// .assortment__title

	&__title {
		font-weight: 700;
		margin-bottom: 1rem;
	}

	// .assortment__items
	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 8px;
		margin-bottom: 6.6rem;
		max-width: 217px;
	}
}

.product-offer {
	&__title {
		font-weight: 700;
		font-size: 2.5rem;
		margin-bottom: 3rem;
	}

	&__body {
		display: flex;
		gap: 2rem;
	}
	&__column {
		max-width: 180px;
	}
}

.content-product {
	// .content-product__quantity
	&__quantity {
		max-width: 185px;
	}

	// .content-product__slide
	&__slide {
		overflow: hidden;
		display: flex;
		gap: 2rem;
		margin-bottom: 14px;
	}

	// .content-product__column
	&__item {
		border: 1px solid green;
	}
	// .content-product__thumb
	&__thumb {
		.swiper-slide {
			border: 1px solid #ddd;
			img {
				cursor: pointer;
				opacity: 0.4;
			}
		}
		.swiper-slide-thumb-active {
			&.swiper-slide {
				border: 2px solid #f68038;
			}
		}
	}
}
// -----------------------------------------------------------------------------
.counter {
	// .counter__title
	&__title {
		margin-bottom: 10px;
		span {
			color: $color;
			font-weight: 700;
			margin-left: 10px;
		}
	}

	// .counter__buttons
	&__buttons {
		display: flex;
		gap: 2.7rem;
		margin: 2rem 0;
	}

	// .counter___button-cart
	&__button-cart {
		min-width: 13.7rem;
		height: 32px;
		background: $color;
		border: 1px solid $color;
		border-radius: 23px;
		color: $bg-color;
		font-weight: 500;
		white-space: nowrap;
		transition: all 0.4s ease-in-out;
		&:hover {
			background: $bg-color;
			color: #000;
		}
	}

	// .counter__button-favourites
	&__button-favourites {
		flex-direction: row-reverse;
		min-width: 13.7rem;
		height: 32px;
		background: $bg-color;
		border: 1px solid $color;
		font-weight: 500;
		border-radius: 23px;
		white-space: nowrap;
		transition: color 0.4s ease-in-out;
		justify-content: center;
		@include flex-align-center;
		.icon {
			margin-right: 1rem;
		}
		&:hover {
			background: $color;
			color: $bg-color;
		}
	}
}
// -----------------------------------------------------------------------------
.specifications {
	// .specifications__list
	&__list {
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}

	// .specifications__item

	&__item {
		line-height: 193.333333%; /* 29px/15 */
	}

	// .specifications__title
	&__title {
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 2rem;
	}

	// .specifications__counter
	&__counter {
		margin-bottom: 15px;
	}
}
