.cart-page {
	// .cart-page__title
	&__title {
		color: $color;
		font-size: 3rem;
	}

	// .cart-page__body
	&__body {
		gap: 2.5rem;
		display: flex;
	}

	// .cart-page__column
	&__column {
		&:nth-child(n + 1):nth-child(-n + 4) {
			padding: 0 1rem;
		}

		&:nth-child(5) {
			flex: 0 0 50px;
			text-align: center;
		}
	}

	// .cart-page__table-head
	&__table-head {
		display: grid;
		gap: 0.8rem;
		justify-content: space-between;
		align-items: center;
		grid-template-columns:
			1fr
			minmax(150px, min-content)
			minmax(150px, min-content)
			minmax(80px, min-content)
			50px;
		height: 5rem;
		border: 1px solid $color;
		border-radius: 5px;
		margin-bottom: 2rem;
		font-weight: 700;
	}

	// .cart-page__thead

	&__thead {
		flex: 1 1 100%;
	}

	// .cart-page__tbody
	&__tbody {
		flex: 0 0 28.3rem;
	}

	// .cart-page__button

	&__button {
		transition: color 0.3s ease-in-out;
		&:hover {
			color: $color;
		}
	}
}

.help-order {
	// .help-order__help
	&__info {
		padding: 1.8rem;
		text-align: center;
		border: 1px solid $color;
		border-radius: 10px;
		flex: 0 1 28.3rem;

		h1 {
			font-size: 2.1rem;
		}
		&:not(:last-child) {
			margin-bottom: 3.4rem;
		}
	}

	// .help-order__text
	&__text {
		font-size: 13px;
		margin-bottom: 1.6rem;
	}

	// .help-order__phone
	&__phone {
		font-size: 2rem;
		font-weight: 500;
	}
}

.order-place {
	// .order-place__place-order

	&__place-order {
	}

	// .order-place__content

	&__content {
	}

	// .order-place__footer

	&__footer {
		display: flex;
		justify-content: space-between;
	}

	// .order-place__footer--footer

	&__footer--footer {
	}

	// .order-place__info

	&__info {
		max-width: 56rem;
	}

	// .order-place__column

	&__column {
	}

	// .order-place__column--button

	&__column--button {
	}

	// .order-place__form-button

	&__form-button {
		width: 20rem;
		color: $bg-color;
		font-size: 1.4rem;
		padding: 0.9rem 3rem;
		border-radius: 16px;
		background: $color;
	}
}

.shopping-cart {
	// .shopping-cart__item

	&__item {
		display: flex;
		flex-direction: column;
	}

	// .shopping-cart__row
	&__row {
		display: grid;
		grid-template-columns:
			1fr
			minmax(150px, min-content)
			minmax(150px, min-content)
			minmax(80px, min-content)
			50px;
		gap: 0.8rem;
		justify-content: space-between;
		align-items: center;

		border: 1px solid #d3d3d3;
		border-radius: 5px;
		margin-bottom: 2rem;
	}
}

.product-cart {
	// .product-cart__column

	&__column {
		font-size: 13px;
		&:nth-child(n + 2):nth-child(-n + 4) {
			padding: 0 1rem;
		}

		&:nth-child(5) {
			padding: 1.5rem;
			flex: 0 0 50px;
			text-align: center;
			align-self: start;
		}
	}

	// .product-cart__product-info
	&__product-info {
		display: flex;
		align-items: center;
	}

	// .product-cart__image
	&__image {
		min-width: 9rem;

		img {
			width: 9rem;
			// max-width: 100%;
		}
	}

	// .product-cart__description

	&__description {
	}

	// .product-cart__counter

	&__counter {
	}

	// .product-cart__price

	&__price {
	}

	// .product-cart__units

	&__units {
	}

	// .product-cart__quantity-price

	&__quantity-price {
	}

	// .product-cart__cancel

	&__cancel {
	}

	// .product-cart__button
	&__button {
		transition: color 0.3s ease-in-out;
		&:hover {
			color: $color;
		}
	}

	// .product-cart__column--login

	&__column--login {
	}

	// .product-cart__discounts

	&__discounts {
	}

	// .product-cart__column--result

	&__column--result {
	}

	// .product-cart__totalprice-order

	&__totalprice-order {
	}

	// .product-cart__total-sum

	&__total-sum {
	}
}

.send-order {
	// .send-order__title

	&__title {
	}

	// .send-order__order-place

	&__order-place {
	}
}

// -----------------------------------------------------------------------------
