.costume-fabrics
	._column 
		._image
	._column 
		._content
			.info-costume._info
				._header
					._title 
						h1 костюмные ткани
					._text
						p Широкий ассортимент костюмных тканей с содержанием шерсти производства России, Беларусь, Италии. Высокие потребительские характеристики, комфортные в носке, малосминаемые, мягкие, они прекрасно подходят для деловых костюмов и школьной формы.
				._items-footer
					._image
						img(src="./img/main/costume-fabrics/K-100334.png", alt="")
					._image
						img(src="./img/main/costume-fabrics/K-10320.png", alt="")
					._image
						img(src="./img/main/costume-fabrics/K-10337.png", alt="")

