.delivery
	._body
		._title
			._img-brand 
			h1 Интернет магазин тканей с доставкой по России  
			._img-brand 
		._content 
			._column
				._image 
					img(src="./img/bg-image-tk.png", alt="картинка")
			._column
				._info 
					._text
						p Работаем с 1995 года с надежными поставщиками Турции, Китая, прямые поставки с Российских и Белорусских фабрик. 
						h1 Наши клиенты:
					ul._list
						li - ателье
						li - творческие коллективы
						li - свадебные салоны
						li - театры и гостиницы
						li - организаторы мероприятий
						li - швейные производства
						li - школы, сады
						li -профессиональные швеи и любители рукоделия
						._brand 
								img(src="./img/icons/brand.png", alt="brand")

