.portiere-fabrics
	._column 
		._image
	._column 
		._content
			.info-portiere._info
				._header
					._title 
						h1 Портьерные ткани
					._text
						p Новое поступление портьерных тканей: высокой плотности блэкауты, мягкие шениллы, благородные двухсторонние атласы, рогожки блэкауты.
				._items-footer
					._image
						img(src="./img/main/portiere-fabrics/K-9990.png", alt="")
					._image
						img(src="./img/main/portiere-fabrics/K-11335.png", alt="")
					._image
						img(src="./img/main/portiere-fabrics/K-11334.png", alt="")

