.reviews
	._body
		._title 
			.title-text
				._text отзывы покупателей
		.reviews-content 
			._body
				._card
					img(src="@@webRoot/img/reviews/pic-1.png", alt="картинка")
				._card
					img(src="@@webRoot/img/reviews/pic-2.png", alt="картинка")
				._card
					img(src="@@webRoot/img/reviews/pic-3.png", alt="картинка")