section.mainslide
    ._body._swiper
        ._slide-wrapper
            .content-mainslide._content
                ._title
                    span Мега распродажа тканей (название или характеристики ткани, реклама и т.д.)
            ._image._img
                a(href="")
                    img(src="img/main/slides/slide-1.jpg", alt="slide-1", loading="lazy")
        ._slide-wrapper
            .content-mainslide._content
                ._title
                    span Мега распродажа тканей (название или характеристики ткани, реклама и т.д.)
            ._image._img
                a(href="")
                    img(src="img/main/slides/slide-2.jpg", alt="slide-2", loading="lazy")
        ._slide-wrapper
            .content-mainslide._content
                ._title
                    span Мега распродажа тканей (название или характеристики ткани, реклама и т.д.)
            ._image._img
                a(href="")
                    img(src="img/main/slides/slide-3.jpg", alt="slide-3", loading="lazy")
        ._slide-wrapper
            .content-mainslide._content
                ._title
                    span Мега распродажа тканей (название или характеристики ткани, реклама и т.д.)
            ._image._img
                a(href="")
                    img(src="img/main/slides/slide-4.jpg", alt="slide-4", loading="lazy")
    ._dots