// -----------------------------------------------------------------------------
.menu-catalog__parent-menu > ._collapse:not(._show) {
	display: none;
}
.select > ._collapse:not(._show) {
	display: none;
}
// -----------------------------------------------------------------------------
.swiper-wrapper {
	align-items: flex-start;
}
// -----------------------------------------------------------------------------
.title-text {
	&__text {
		position: relative;
		display: flex;
		align-items: center;
		color: rgb(0, 70, 70);
		font-size: 3rem;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 100%; /* 36px/30px */
		text-align: center;

		@include _425 {
			font-size: 2.3rem;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 30px;
			height: 30px;
			background: url('../img/icons/brand.png') center / contain no-repeat;

			@include _490 {
				display: none;
			}
		}

		&::before {
			left: -13px;
			transform: translateX(-100%);
		}
		&::after {
			right: -13px;
			transform: translateX(100%);
		}
	}
}

// -----------------------------------------------------------------------------
._ibg {
	position: relative;
	height: 100%;
	width: 100%;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: fill;
	}
}
// -----------------------------------------------------------------------------
._lnb {
	&::before {
		display: block;
		content: attr(title);
		font-weight: 700;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}
}
// -----------------------------------------------------------------------------
._clip-circle {
	@include _min-920 {
		position: relative;
		z-index: 2;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			color: #fff;
			background-color: $color;
			clip-path: circle(var(--size) at var(--pos));
			transition: all 0.5s ease-in-out;
			z-index: 1;
			border-radius: 32px;
		}

		&:hover {
			a {
				color: $bg-color;
			}
			&:before {
				--size: 235px;
			}
		}
	}
}
