.header {
	// .header__top-menu
	&__top-menu {
		border-bottom: 1px solid $color;
		padding: 0.75rem 0;
		display: grid;
		justify-content: space-between;
		align-items: center;
		grid-template-columns: 1fr 1fr;
		@include _690 {
			grid-template-columns: min-content 1fr min-content;
			justify-items: center;
			padding: 8px 0 6px;
		}

		.header__column {
			&:nth-child(2) {
				@include _min-690 {
					display: none;
				}
			}
		}
	}

	// .header__column
	&__column {
		flex: 0 1 50%;
		@include _690 {
			&:nth-child(3) {
				justify-self: end;
			}
		}
	}

	// .header__menu-middle
	&__middle-menu {
		@include _690 {
			display: none;
		}

		@include flex-align-center-justify-space-between;
	}

	// .header__bottom-menu
	&__menu-bottom {
		@include _690 {
			display: none;
		}
		padding: 1.5rem;
		width: 100%;
		border-radius: 1rem;
		color: $font-color-other;

		background: linear-gradient(
			90deg,
			rgb(5, 52, 42) -23.739%,
			rgb(4, 61, 49) 11.827%,
			rgb(3, 84, 66) 100%
		);
	}

	// .header__button-search
	&__button-search {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		border: 1px solid $color;
		._icon {
			color: $color;
		}
		@include _min-690 {
			display: none;
		}
	}

	// .header__button-menu
	&__button-menu {
		@include _min-690 {
			display: none;
		}
	}
}

.main-menu {
	@include _690 {
		display: none;
	}

	// .main-menu__body
	&__body {
		display: flex;
		max-width: 54rem;
		justify-content: space-between;
		@include _screen-920 {
			li {
				margin-left: 2.5rem;
			}
			li:first-child {
				margin-left: 0;
			}
		}
	}

	// .main-menu__link
	&__link {
		display: inline-block;
		font-size: 1.5rem;
		font-weight: 400;
		text-align: center;
		white-space: nowrap;

		&:hover {
			font-weight: 700;
		}
	}
}

.service-menu {
	@include _690 {
		display: none;
	}

	// .service-menu__body
	&__body {
		padding-left: 2rem;
		display: grid;
		justify-content: space-between;
		align-items: center;
		grid-template-columns:
			minmax(32.4rem, max-content)
			minmax(13.048rem, max-content);
		grid-template-columns: auto minmax(13.048rem, max-content);
		@include _screen-960 {
			justify-content: end;
		}
	}

	// .service-menu__list
	&__column {
		width: 100%;
		align-items: center;
		display: flex;

		&:nth-child(1) {
			justify-content: space-between;
			@include _screen-960 {
				justify-content: flex-end;
				padding-right: 2.4rem;
			}
		}
		&:nth-child(2) {
			justify-content: flex-end;
		}

		@include _screen-960 {
			justify-content: end;
			grid-template-columns: max-content max-content min-content;
		}
	}

	// .service-menu__link
	&__link {
		height: 100%;
		transition: all 0.3s ease;
		@include flex-align-center;

		[class*='icon-'] {
			font-size: 2.7rem;
		}

		justify-content: flex-end;
		@include _690 {
			justify-content: flex-end;
		}

		&:nth-child(2) {
			margin-left: 3.7rem;
		}
	}

	// .service-menu__text
	&__text {
		height: 20px;
		line-height: 0;
		padding: 0 0.5rem;
		white-space: nowrap;

		&:hover {
			font-weight: 700;
			font-size: 1.465rem;
		}

		@include flex-align-center;

		@include _screen-960 {
			&:not(:last-child) {
				display: none;
			}
		}
	}
}

.login-container {
	// .login-container__body
	&__body {
		padding-left: 2rem;
		width: 100%;
		height: 100%;
		gap: 2rem;
		display: grid;

		grid-template-columns: auto minmax(13.048rem, max-content);

		justify-content: space-between;
		@include _screen-960 {
			justify-content: end;
		}
	}

	// .login-container__login
	&__login {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		[class*='icon-'] {
			margin-right: 5px;
			font-size: 2.7rem;
		}
	}

	// .login-container__list
	&__list {
		width: 29rem;
		height: 20px;
		display: flex;
		line-height: 0;
		justify-content: space-between;
		span {
			line-height: 130%;
		}
		@include _screen-960 {
			display: none;
		}
	}

	// .login-container__link
	&__link {
		white-space: nowrap;
		&:first-child {
			padding-left: 0.5rem;
		}
		&:not(:last-child) {
			margin-right: 0.5rem;
		}
		&:hover {
			font-weight: 700;
			font-size: 1.456rem;
		}

		@include flex-align-center;
	}

	// .login-container__phone
	&__phone {
		white-space: nowrap;
		justify-self: end;
		align-self: center;

		a {
			line-height: 120%;
			&:hover {
				line-height: 110%;
				font-weight: 700;
				font-size: 1.455rem;
				letter-spacing: -0.4px;
			}
		}
	}
}

.menu-bottom {
	&__list {
		@include flex-align-center-justify-space-between;
		li {
			&:not(:first-child) {
				margin-left: 2rem;
			}
		}
	}

	// .menu-bottom__link
	&__link {
		@include flex-align-center;
		.icon-arow-left {
			transform: rotate(-90deg);
			margin-left: 1rem;
		}
	}
}

.logo-container {
	@include flex-align-center;

	// .logo-container__brand
	&__brand {
		height: 4rem;
		width: 4rem;
		@include flex-align-center;
	}

	// .logo-container__image
	&__image {
		img {
			width: 15rem;
			height: 4rem;
			object-fit: contain;
		}
	}
}

.middle-menu {
	// .middle-menu__body
	&__body {
		max-width: 54rem;
		@include flex-justify-space-between;
	}
}
