//*  ------------------- [Подключение (Accordions-Collapse)] -------------------
.menu-page > ._collapse:not(._show),
.search-page > ._collapse:not(._show),
.section-filter > ._collapse:not(._show) {
	display: none;
}

.order-catalog__select:not(.itc-select_show) > .itc-select__dropdown,
.show-catalog__select:not(.itc-select_show) > .itc-select__dropdown {
	display: none;
}

@include _920 {
	.menu-page__parent > ._collapse:not(._show),
	.filter__column > ._collapse:not(._show) {
		display: none;
	}
}
//*  ------------------------ [Breadcrumbs] ------------------------------------
.breadcrumbs {
	margin: 10px 0 20px;
	scrollbar-width: none;
	@include _920 {
		margin-bottom: 10px;
	}
}
//*  --------------------------- [Arrow] ---------------------------------------
._arrow {
	width: 33px;
	height: 29px;
	max-width: 100%;
	outline: none;
	cursor: pointer;
	background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 29 25' style='enable-background:new 0 0 29 25;' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%23f68038' d='M17.8,21.9c-0.5,1.6-1.9,2.3-3.4,1.7c-0.6-0.2-1.1-0.6-1.6-0.9c-3.3-2.5-6.6-5-10-7.5c-2.1-1.6-2.3-2.7-0.7-4.8%0AC2.5,9.8,3.1,9.4,3.6,9C5.7,7.3,7.9,5.7,10,4.1c1.3-1,2.6-2,4-2.7c2-1,3.7-0.1,4,2c0.2,1.5,0.9,1.8,2.2,1.8c1.8,0,3.7,0.1,5.5,0.3c2,0.2,2.6,1.4,2.4,3.4c-0.2,2.3-0.2,4.7,0.1,7c0.2,1.9-0.4,3.5-2.4,3.6c-2.4,0.2-4.9,0-7.4,0C18.3,20.3,18.1,21.1,17.8,21.9zM13.6,4.5c-3.1,2.3-6.1,4.6-9.2,6.9c-1.1,0.8-1.1,1.2,0,2.1c2.9,2.2,5.8,4.4,8.7,6.6c0.2,0.2,0.4,0.4,0.7,0.5c0.5,0.2,1,0.4,1.5,0.6c0.1-0.6,0.3-1.2,0.3-1.7c0-0.3-0.1-0.6-0.1-0.9c-0.2-1.1,0.3-1.7,1.4-1.7c2.5,0,5.1-0.1,7.6,0.1c1.2,0.1,1.5-0.3,1.5-1.4c0-2.2,0-4.3,0-6.5c0-0.9-0.3-1.2-1.2-1.2c-2.5,0.1-5.1,0-7.6,0c-1.3,0-1.7-0.5-1.7-1.7c0-1,0.1-2,0.2-3.3C14.9,3.5,14.2,4,13.6,4.5z'/%3E%3C/g%3E%3C/svg%3E")
		center / contain no-repeat;
	@include _690 {
		width: 23px;
	}
	@include _min-920 {
		&:hover {
			background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 29 25' style='enable-background:new 0 0 29 25;' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%23068292' d='M17.8,21.9c-0.5,1.6-1.9,2.3-3.4,1.7c-0.6-0.2-1.1-0.6-1.6-0.9c-3.3-2.5-6.6-5-10-7.5c-2.1-1.6-2.3-2.7-0.7-4.8%0AC2.5,9.8,3.1,9.4,3.6,9C5.7,7.3,7.9,5.7,10,4.1c1.3-1,2.6-2,4-2.7c2-1,3.7-0.1,4,2c0.2,1.5,0.9,1.8,2.2,1.8c1.8,0,3.7,0.1,5.5,0.3c2,0.2,2.6,1.4,2.4,3.4c-0.2,2.3-0.2,4.7,0.1,7c0.2,1.9-0.4,3.5-2.4,3.6c-2.4,0.2-4.9,0-7.4,0C18.3,20.3,18.1,21.1,17.8,21.9zM13.6,4.5c-3.1,2.3-6.1,4.6-9.2,6.9c-1.1,0.8-1.1,1.2,0,2.1c2.9,2.2,5.8,4.4,8.7,6.6c0.2,0.2,0.4,0.4,0.7,0.5c0.5,0.2,1,0.4,1.5,0.6c0.1-0.6,0.3-1.2,0.3-1.7c0-0.3-0.1-0.6-0.1-0.9c-0.2-1.1,0.3-1.7,1.4-1.7c2.5,0,5.1-0.1,7.6,0.1c1.2,0.1,1.5-0.3,1.5-1.4c0-2.2,0-4.3,0-6.5c0-0.9-0.3-1.2-1.2-1.2c-2.5,0.1-5.1,0-7.6,0c-1.3,0-1.7-0.5-1.7-1.7c0-1,0.1-2,0.2-3.3C14.9,3.5,14.2,4,13.6,4.5z'/%3E%3C/g%3E%3C/svg%3E")
				center / contain no-repeat;
		}
	}
}
.quantity-remove {
	&._disabled {
		opacity: 0.5;
	}
}

._arrow_next {
	transform: rotate(-180deg);

	@include _min-920 {
		&:hover {
			transform: rotate(-180deg);
		}
	}
}
//* ----------------------------------------------------------------------------
.card-name {
	display: flex;
	flex-direction: column;

	// .card-name__title
	&__title {
		margin-bottom: 1.5rem;
		flex: 1 1 auto;
		font-size: 1.6rem;
		font-weight: 300;
		line-height: 2.4rem;
		color: #36949f;

		span:nth-child(1) {
			display: block;
			line-height: 2.2rem;
			font-weight: 900;
		}
	}

	// .card-name__price
	&__price {
		display: flex;
		flex-direction: column;
	}

	// .card-name__old-price
	&__old-price {
		font: {
			size: 1.8rem;
			weight: 400;
		}
		text-align: right;
		text-decoration: line-through;
		color: #999;

		i {
			font-size: 1.4rem;
		}
	}

	// .card-name__new-price
	&__new-price {
		@include flex-align-center-justify-space-between;
		flex-direction: row;
		a {
			&.icon-cart-circle {
				white-space: nowrap;
				&::before {
					transition: 0.4s linear;
					font-size: 4.3rem;
					color: red;
				}
				&:hover {
					&:before {
						color: orange;
					}
				}
			}
		}

		font: {
			size: 2.4rem;
			weight: 900;
		}
		color: #333;

		i {
			font-size: 1.8rem;
		}
	}

	// .card-name__basket-white
	&__basket-white {
		&.icon-cart-circle {
			&::before {
				transition: 0.4s linear;
				font-size: 4.3rem;
				color: #000;
			}
			&:hover {
				&:before {
					color: orange;
				}
			}
		}
	}
}
//* ----------------------------------------------------------------------------

.quantity {
	@include flex-align-center-justify-space-between;
	// .quantity__buttom
	&__buttom {
		width: 20px;
		height: 17px;
	}

	// .quantity__input
	&__input {
		input {
			text-align: center;
			width: 5.6rem;
			height: 3.3rem;
			margin: 0 1rem;
			font-size: 1.6rem;
			color: #999999;
		}
	}
}
//*  ------------------------ [Greed Card a] -----------------------------------
._card {
	img {
		vertical-align: middle;
		width: 100%;
		object-fit: cover;
	}

	a {
		text-decoration: none;
		color: inherit;

		&:before {
			z-index: 2;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
		}
	}
}
//* ------------------------ [Greed Card] --------------------------------------
._greed-card {
	overflow: hidden;
	position: relative;
	display: grid;

	img {
		vertical-align: middle;
		width: 100%;
		object-fit: cover;
	}

	> * {
		grid-area: 1/-1;
	}
}
//* ---------------------------- [Input] ---------------------------------------
.input {
	display: block;
	width: 100%;
	border-radius: 0 !important;
	border: 1px solid #dadada;
	color: #333;
	&._focus {
	}

	&._error {
	}
}

textarea.input {
	padding: 0 0;
	resize: none;
}
//* --------------------------- [Checkbox] -------------------------------------
.checkbox {
	position: relative;

	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		visibility: hidden;
		// opacity: 0;
	}

	// .checkbox__text
	&__text {
		position: relative;
		display: flex;
		align-items: center;
		cursor: pointer;

		&::before {
			content: '';
		}
	}
}
//* ------------------------- [Class _ibg] -------------------------------------
._ibg {
	position: relative;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
//* -------------------------- [Class _img] ------------------------------------
[class*=' _img'] {
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-width: 100%;
		height: 100%;
		vertical-align: middle;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
//* ------------------ [Clip-Path inset() modifcator] --------------------------
._clip-inset {
	@include _min-920 {
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			color: #fff;
			clip-path: inset(
				var(--inset-top) var(--inset-right) var(--inset-bottom)
					var(--inset-left)
			);
			transition: 0.2s linear;
		}

		&:hover {
			&:before {
				--size: 135px;
				--inset-top: 0;
				--inset-right: 0;
				--inset-bottom: 0;
				--inset-left: 0;
				clip-path: inset(
					var(--inset-top) var(--inset-right) var(--inset-bottom)
						var(--inset-left)
				);
			}
		}
	}
}
//* --------------------- [Clip-Path circle() modifcator] ----------------------
._clip-circle {
	@include _min-920 {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			color: #fff;
			clip-path: circle(var(--size) at var(--pos));
			transition: 0.2s linear;
		}

		&:hover {
			&:before {
				--size: 135px;
			}
		}
	}
}
//*------------------------------ < Button > -----------------------------------
button {
	border-radius: 2px;
	cursor: pointer;
	color: inherit;
	background-color: transparent;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	// overflow: hidden;
}
// -----------------------------------------------------------------------------
.cart-buttom {
	display: flex;
	// .cart-buttom__buttom
	&__buttom {
		font: {
			size: 1.4rem;
			weight: 900;
		}
		white-space: nowrap;
		text-transform: uppercase;
		color: #999999;

		span {
			margin-right: 10px;
			@include flex-align-center;
			padding: 0 5.8rem 0 1.5rem;
			height: 3.4rem;
			background: #f3f3f3;
		}
		&:hover {
			span {
				background-color: orange;
				transition: all 0.5s ease-in-out;
				color: #ffffff;
			}
		}
		.icon-cart-circle {
			position: absolute;
			right: 0;
			&::before {
				background: #fff;
				border-radius: 50%;
				font-size: 5.2rem;
				color: #f68038;
			}
		}
	}
}
//* ------------------- [Effect of pressing the button] ------------------------
._btn {
	font-weight: 400;
	width: 96px;
	height: 35px;
	font-size: 14px;
	border-radius: 2px;
	transition: transform 0.15s;
	transform-style: preserve-3d;
}

._press {
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	font-size: inherit;
	font-family: inherit;

	&::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #06829269;
		border-radius: inherit;
		box-shadow:
			0 0 0 0px #dadada,
			0 0.05em 0 0 #ffe3e2;
		transform: translate3d(0, 0.15em, -1em);
		transition:
			transform 0.15s,
			box-shadow 0.15s;
	}

	&:hover {
		background: orange;
		transform: translate(0, 0.05em);
	}

	&:hover::before {
		box-shadow:
			0 0 0 2px #dadada,
			0 0.05em 0 0 #ffe3e2;
		transform: translate3d(0, 0.05em, -1em);
	}

	&:active {
		background: orange;
		transform: translate(0em, 0.15em);
	}

	&:active::before {
		box-shadow:
			0 0 0 1px #dadada,
			0 0 #ffe3e2;
		transform: translate3d(0, 0, -1em);
	}
}
