$icon-font-family: 'icon-set' !default;
$icon-font-path: '../fonts' !default;

$icon-trash: unquote('"\\e938"');
$icon-cross-middle: unquote('"\\e944"');
$icon-cancel: unquote('"\\ea3d"');
$icon-cancel-circle: unquote('"\\ea3b"');
$icon-search: unquote('"\\e900"');
$icon-heart-like: unquote('"\\e9da"');
$icon-user-check: unquote('"\\e975"');
$icon-mobile-profile: unquote('"\\e905"');
$icon-mobile-catalog: unquote('"\\e906"');
$icon-rub: unquote('"\\f159"');
$icon-arow-right: unquote('"\\e901"');
$icon-arow-left: unquote('"\\e902"');
$icon-whatsapp: unquote('"\\f232"');
$icon-vk-brand: unquote('"\\f189"');
$icon-telegram-fly: unquote('"\\e91b"');
$icon-search-doc: unquote('"\\e907"');
$icon-heart: unquote('"\\e903"');
$icon-shopping-cart: unquote('"\\e904"');
