// todo -------------------------- Variables -----------------------------------
@import 'core/variables';
@import 'core/variables-icon';
//todo ----------------------------- Core --------------------------------------
@import 'core/mixins';
@import 'core/extend';
@import 'core/reset';
//todo ------------------------- Default fonts ---------------------------------
// &display=swap&subset=cyrillic-ext
@import url('https://fonts.googleapis.com/css?family=Inter:1300,regular,500,600,700,800,900&display=swap&subset=cyrillic-ext');
.page {
	&__wrapper {
		background: $bg-color;
		background: url('../img/bg-404.png') center / cover no-repeat;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
	}

	&__title {
		display: flex;
		align-items: center;
		font-size: 3.5rem;
		color: black;
		text-align: center;
		text-shadow: 1px 1px 2px #ffffff;
		h1 {
			font-size: 12.8rem;
			font-weight: 800;
			margin: 0;
			color: $color;
			animation: float 2s infinite;
		}
	}

	&__content {
		transform: translateY(-50px);
		text-align: center;
	}
}

p {
	font-size: 1.6rem;
}
[class*='_container'] {
	max-width: $maxWidthContainer;
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 10px;
}

.btn {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 1.6rem;
	color: $bg-color;
	background: $color;
	border: none;
	border-radius: 15px;
	text-decoration: none;
	transition: all 0.3s;
	box-shadow: 0 4px 8px rgb(0, 0, 0);
	line-height: 138%;
}

.btn:hover {
	background: #004646af;
	box-shadow: none;
}

@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}
