extends ../layouts/app_layout
append link 
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/catalog.min.css")
prepend script
	script(defer="defer" type="text/javascript" src="@@webRoot/js/catalog.min.js") 
	block title
	- var text='Каталог - Те Ткани "Обнинск"'
	
block main-content
	.page__bread-crumbs
		nav.bread-crumbs
			ul._list
				li
					a._link(href="@@webRoot/index.html" title="/ Главная") Главная / 
				li
					span._item Каталог
	section.page__categories
		include ../components/section-categories
	section.page__new-products
		include ../components/section-new-products