extends ../layouts/app_layout
append link 
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/catalog.min.css")
prepend script 
	script(defer="defer" type="text/javascript" src="@@webRoot/js/wNumb.min.js") 
	script(defer="defer" type="text/javascript" src="@@webRoot/js/catalog.min.js") 
	block title
	- var text='Каталог - Те Ткани "Обнинск"'
	
block page-content
	.page#page
		._container
			aside._sidebar-search
				include ../chunk/sidebar-search
			section._header
				include ../layouts/header
			._content
				section._bread-crumbs
					include ../chunk/bread-crumbs
				section._categories
					include ../components/section-categories
				nav._buttom-menu
					include ../layouts/float-menu