extends ../layouts/app_layout
append link 
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/index.min.css")
prepend script 
	script(defer="defer" type="text/javascript" src="@@webRoot/js/index.min.js")
block title
	- var text='Те Ткани "Обнинск"' 

block main-content  
	section.page__slide
		include ../components/section-mainslide
	section.page__new-products
		include ../components/section-new-products
	section.page__portiere-fabrics 
		include ../components/section-portiere-fabrics 
	section.page__furniture-fabrics
		include ../components/section-furniture-fabrics
	section.page__costume-fabrics
		include ../components/section-costume-fabrics
	section.page__sale-products
		include ../components/section-sale-products
	section.page__delivery
		include ../components/section-delivery
	section.page__about
		include ../components/section-about
	section.section-news
		include ../components/section-news
	section.page__reviews
		include ../components/section-reviews