extends ../../layouts/app_layout
append link 
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/cart.min.css")
prepend script
	script(defer="defer" type="text/javascript" src="@@webRoot/js/cart.min.js") 
	block title
	- var text='Корзина - Те Ткани "Обнинск"'

block page-content
	.page#page
		._container
			aside._sidebar-catalog 
				.sidebar-search.bp-4
					._top.bp-2
						button(type="button")._icon-cancel
							+iconfont('cancel-circle', 'icon')
				include ../../chunk/sidebar-catalog
			section._header
				include ../../layouts/header
			._content
				section._bread-crumbs
					nav.bread-crumbs
						ul._list
							li
								a._link(href="@@webRoot/index.html" title="/ Главная") Главная /
							li
								a._link._lnb(href="@@webRoot/catalog.html" title="/ Главная") Каталог /
							li
								span._item Корзина
				section._cart-page 
					include ../../components/section-cart
			section._footer
				include ../../layouts/footer 
			nav._buttom-menu
				include ../../layouts/float-menu