.float-menu 
	ul._items
		li._item 
			img(src="./img/icons/brand.png", alt="bramd")
			a(href="")._link Главная
		li._item 
			+iconfont('mobile-catalog')
			a(href="")._link Каталог
		li._item 
			+iconfont('heart')
			a(href="")._link Избранное
		li._item 
			+iconfont('shopping-cart')
			a(href="")._link Корзина
		li._item 
			+iconfont('mobile-profile')
			a(href="")._link Профиль