.float-menu 
	ul._items
		li._item 
			a(href="")._link
				img(src="./img/icons/brand.png", alt="bramd")
				span Главная
		li._item 
			a(href="")._link
				+iconfont('mobile-catalog', 'link')
				span Каталог
		li._item 
			a(href="")._link
				+iconfont('heart', 'link') 
				span Избранное
		li._item 
			a(href="")._link
				+iconfont('shopping-cart', 'link') 
				span Корзина
		li._item 
			a(href="")._link
				+iconfont('mobile-profile', 'link') 
				span Профиль