header.header 
	._header-wrapper 
		._top-menu
			._column 
				button._button-search
					+iconfont('search', '_icon')
				.main-menu
					._list 
						a(href="#")._link Главная 
						a(href="#")._link О магазине 
						a(href="#")._link Как купить 
						a(href="#")._link Оплата 
						a(href="#")._link Доставка 
						a(href="#")._link Скидки
			._column.bp-1
			._column 
				.service-menu
					ul._list
						li
							a(href="#")._link
								+iconfont('shopping-cart', '_icon')
								span._text
									| Моя корзина 
								span._value-cart (0) 
						li 
							a(href="#")._link 
								+iconfont('heart', '_icon')
								span._text 
									| Избранное 
								span._value-favourites (0)
						li 
							a(href="#")._link Контакты 
				button._button-menu
					include ../chunk/burger-button 
		._middle-menu
			._column
				.middle-menu
					._body
						.logo-container(data-move-el="[{'bp-max': 690.98, 'index': 1, 'target': '.bp-1'}]")
							._brand
								img(src="./img/icons/brand.png", alt="brand")
							._image
								img(src="./img/header/logo-header.png", alt="logo")
						include ../chunk/search 
			._column
				.login-container
					._body
						._login-icon
							a(href="/")._link
								+iconfont('user-check', '_icon')
								span Личный кабинет  Войти / Регистриция
						._phone
							a(href="tel:88000000000") 8-800-000-00-00
		.menu-bottom._menu-bottom
				ul._list
					li._link Ткани 
						+iconfont("arow-left", '_icon')
					li._link Швейная фурнитура 
						+iconfont("arow-left", '_icon')
					li._link Товары для рукоделия 
						+iconfont("arow-left", '_icon')
					li._link Пряжа 
						+iconfont("arow-left", '_icon')
					li._link Новинки 
						+iconfont("arow-left", '_icon')
					li._link Акции 
						+iconfont("arow-left", '_icon')