.login-modal
	._modal-content
		span._close
			+iconfont('cross-middle')
		form._form(action="#")
			._input 
				label._label(for="username-cart") Логин:
				input#username-cart(type="text", name="username", autocomplete="off", required)
			br
			._input 
				label(for="password-cart") Пароль:
				input#password-cart(type="password", name="password", autocomplete="off", required)
			br
			button(type="submit")._button-login Войти
		button(type="button")._recovery Забыли пароль?
//- .recovery-modal
//- 	._modal-content
//- 		span._close
//- 		+iconfont('cross-middle')
//- 		form._form(action="")
//- 			._input 
//- 				label._label(for="email") Логин:
//- 				input#email(type="email", name="email", autocomplete="off", required)
//- 			button(type="submit")._button-recovery Отправить
