.search-container(data-move-el="[{'bp-max': 690.98, 'index': 0, 'target': '.bp-2'}]")
	form.search-form._form#form(action="#" metod="get")
		._input
			label
				input.input(placeholder="поиск по каталогу..", autocomplete="off", data-error="Ошибка", data-value, name="search", type="text")
		button(type="submit")._button
			+iconfont('search', '_icon')