.sidebar-search.bp-2
	.catalog
		._header
			._title Каталог товаров
			button._filter Фильтр:
		._body
			nav.menu-catalog._menu
				ul._list
					li._parent-menu
						a(href="#")._link._trigger-menu Портьерная
							+iconfont('arow-right', 'icon') 
						.submenu-parent._submenu._collapse
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
											+iconfont('arow-right', 'icon') 
										a(href="#")._link Рогожка, Лен
											+iconfont('arow-right', 'icon') 
										a(href="#")._link Канвас
											+iconfont('arow-right', 'icon') 
										a(href="#")._link Бархат
											+iconfont('arow-right', 'icon') 
					li._parent-menu
						a(href="#")._link._trigger-menu  Тюль
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu._collapse
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent-menu
						a(href="#")._link._trigger-menu  Гобелен
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu._collapse
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent-menu
						a(href="#")._link._trigger-menu  Мебельная
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu._collapse
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent-menu
						a(href="#")._link._trigger-menu  Стеганая для покрывал
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu._collapse
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent-menu
						a(href="#")._link._trigger-menu  Тентовые, туристические
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu._collapse
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent-menu
						a(href="#")._link._trigger-menu  Для спецодежды
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu._collapse
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent-menu
						a(href="#")._link._trigger-menu  Велсофт
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu._collapse
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent-menu
						a(href="#")._link._trigger-menu  Флис
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu._collapse
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent-menu
						a(href="#")._link._trigger-menu  Подкладочные
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu._collapse
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent-menu
						a(href="#")._link._trigger-menu  Курточные
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu._collapse
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent-menu
						a(href="#")._link._trigger-menu  Мех искусственный
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu._collapse
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent-menu
						a(href="#")._link._trigger-menu  Двунитка/диоганаль
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu._collapse
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent-menu
						a(href="#")._link._trigger-menu  Дубленка
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu._collapse
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат