.sidebar-catalog(data-move-el="[{'bp-max': 690.98, 'index': 1, 'target': '.bp-4'}]")
	._body
		nav.menu-catalog._menu 
			ul._parent-menu._active
				li._link._trigger-menu Портьерная
					+iconfont('arow-right', 'icon') 
				.submenu-parent._submenu._collapse
					._item
						ul._menu._active
							li._link Блэкаут
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Рогожка, Лен
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Канвас
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Бархат
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
			ul._parent-menu
				li._link._trigger-menu  Тюль
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link Блэкаут
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Рогожка, Лен
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Канвас
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Бархат
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
			ul._parent-menu
				li._link._trigger-menu  Гобелен
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link Блэкаут
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Рогожка, Лен
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Канвас
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Бархат
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
			ul._parent-menu
				li._link._trigger-menu  Мебельная
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link Блэкаут
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Рогожка, Лен
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Канвас
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Бархат
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
			ul._parent-menu
				li._link._trigger-menu  Стеганая для покрывал
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link Блэкаут
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Рогожка, Лен
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Канвас
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Бархат
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
			ul._parent-menu
				li._link._trigger-menu  Тентовые, туристические
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link Блэкаут
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Рогожка, Лен
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Канвас
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Бархат
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
			ul._parent-menu
				li._link._trigger-menu  Для спецодежды
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link Блэкаут
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Рогожка, Лен
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Канвас
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Бархат
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
			ul._parent-menu
				li._link._trigger-menu  Велсофт
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link Блэкаут
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Рогожка, Лен
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Канвас
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Бархат
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
			ul._parent-menu
				li._link._trigger-menu  Флис
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link Блэкаут
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Рогожка, Лен
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Канвас
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Бархат
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
			ul._parent-menu
				li._link._trigger-menu  Подкладочные
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link Блэкаут
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Рогожка, Лен
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Канвас
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Бархат
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
			ul._parent-menu
				li._link._trigger-menu  Курточные
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link Блэкаут
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Рогожка, Лен
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Канвас
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Бархат
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком
			ul._parent-menu
				li._link._trigger-menu  Мех искусственный
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link Блэкаут
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Рогожка, Лен
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Канвас
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Бархат
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
			ul._parent-menu
				li._link._trigger-menu  Двунитка/диоганаль
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link Блэкаут
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Рогожка, Лен
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Канвас
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Бархат
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
			ul._parent-menu
				li._link._trigger-menu  Дубленка
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link Блэкаут
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Рогожка, Лен
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Канвас
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link Бархат
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 