.sidebar-search.bp-2
	.catalog
		._header
			._title Каталог товаров
			button._filter Фильтр:
		._body
			nav.menu-catalog._menu
				ul._list
					li._parent-menu
						a(href="#")._link Портьерная
							+iconfont('arow-right', 'icon') 
						.submenu-parent._submenu
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
											+iconfont('arow-right', 'icon') 
										a(href="#")._link Рогожка, Лен
											+iconfont('arow-right', 'icon') 
										a(href="#")._link Канвас
											+iconfont('arow-right', 'icon') 
										a(href="#")._link Бархат
											+iconfont('arow-right', 'icon') 
					li._parent 
						a(href="#")._link Тюль
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent 
						a(href="#")._link Гобелен
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent 
						a(href="#")._link Мебельная
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent 
						a(href="#")._link Стеганая для покрывал
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent 
						a(href="#")._link Тентовые, туристические
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent 
						a(href="#")._link Для спецодежды
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent 
						a(href="#")._link Велсофт
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent 
						a(href="#")._link Флис
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent 
						a(href="#")._link Подкладочные
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent 
						a(href="#")._link Курточные
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent 
						a(href="#")._link Мех искусственный
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent 
						a(href="#")._link Двунитка/диоганаль
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат
					li._parent 
						a(href="#")._link Дубленка
							+iconfont('arow-right', 'icon')
						.submenu-parent._submenu
							._item
								ul._menu 
									li._parent-menu
										a(href="#")._link Блэкаут
										a(href="#")._link Рогожка, Лен
										a(href="#")._link Канвас
										a(href="#")._link Бархат