nav.sidebar-menu.page__sidebar-menu 
	._body 
		._content 
			._login
				.login-container.bp-7
			.menu-side-bar._menu
				ul._list 
					li._item
						a(href="@@webRoot/index.html")._link Главная
					li._item
						a(href="")._link О магазине
					li._item
						a(href="@@webRoot/catalog.html")._link Каталог
					li._item
						a(href="")._link Акции
					li._item
						a(href="")._link Новинки
					li._item
						a(href="@@webRoot/catalog/information-work.html")._link Как купить
					li._item
						a(href="")._link Оплата
					li._item
						a(href="")._link Доставка
					li._item
						a(href="")._link Скидки
					li._item
						a(href="@@webRoot/catalog/cart.html")._link Корзина
					li._item
						a(href="")._link Изделия из наших тканей
					li._item
						a(href="")._link Условия обмена и возврата
					li._item
						a(href="")._link Отзывы 
					li._item
						a(href="@@webRoot/contacts.html")._link Контакты
		._search 
			.search-container
				form.search-form._form#menu-search(action="#" metod="get")
					._input
						label(for="search-menu") 
							input.input(id='search-menu',placeholder="поиск..", autocomplete="off",data-value, name="search-menu", type="text")
					button(type="submit")._button
						+iconfont('search', '_icon')
		._footer
			._logo
				img(src="@@webRoot/img/footer/logo-footer.png", alt="картинка")
			.networks-brend 
				._icon
					+iconfont('vk-brand', 'icon')
				._icon
					+iconfont('whatsapp', 'icon')
				._icon
					+iconfont('telegram-fly', 'icon')
				